src/main/java/diaPublisher/blutzucker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BZeintrag" type="BZeintragType"/>
  <xs:complexType name="BZeintragType">
    <xs:sequence>
      <xs:element type="xs:integer" name="Blutucker"/>
      <xs:element type="xs:time" name="Uhrzeit"/>
      <xs:element type="xs:date" name="Datum"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>